<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Harper's blog" />
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
  </head>
  <body>
    <header class="header">
      <img src="/public/logo.svg" />
      <div class="links">
        <a href="/">Home</a>
        <div class="divider"></div>
        <a href="/posts">Posts</a>
        <div class="divider"></div>
        <a href="/feed.xml">RSS</a>
      </div>
    </header>
    {# <main> #}

    {{ content | safe }}

    {# </main> #}
  </body>
</html>
